* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}

body {
    font-family: 'Helvetica', 'Arial', sans-serif;
    background: #1f1f1f;
    color: white;
    overflow: hidden;
    overflow-y: auto;
}

.root {
    display: flex;
    width: 100%;
}

/*html, body, #app, #app>div {*/
/*    height: 100%;*/
/*    display: flex;*/
/*    width: 100%;*/
/*}*/
