
.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    height: 80%;
    /*justify-content: space-between;*/
    width: 100%;
}

.contact label {
    font-size: 1.3rem;
    text-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

.email-section, .socials-section, .support-section {
    display: inherit;
    width: 60%;
    padding: 20px;
    background-color: cadetblue;
    position: relative;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
    justify-content: space-evenly;
}

.email-section, .socials-section {
flex-direction: row;
}

.support-section {
    flex-direction: column;
}

.support-section > div {
    display:inherit;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px 0;
}


.email-section input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 1rem;
}

.email-section button svg {
    width: 20px;
    height: 20px;
}
.email-section button {
    padding: 5px 15px;
    border: 0;
    border-radius: 15px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 100%;
}

.email-section button:hover {
    background-color: #45a049;
}

.socials-section a, .support-section a {
    transition: transform 0.7s ease;
    flex-direction: column;
}
.socials-section a svg, .support-section a svg {
    transition: transform 0.7s ease;
}

.socials-section a svg, .support-section a svg {
    width: 32px;
    height: 32px;
}

.socials-section a:hover, .support-section a:hover {
    transform: scale(1.1);
}

.socials-section a:hover svg, .support-section a:hover svg {
    transform: scale(1.2);
}


.contact label {
    font-weight: bold;
    margin-bottom: 10px;
}

.socials-section a, .support-section a {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.feedback-message {
    color: black;
}

.support-introduction {
    font-size: 0.9rem;
    margin-bottom: 20px;
    line-height: 1.4;
}