
.containerParagraphs {
    width: 100%;
    max-width: 85%;
    margin-left: 15%;
    padding: 50px 80px 50px 80px;
    height: 100vh;
    max-height: 85%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

.paragraphs {
    width: 100%;
    display: grid;
    flex-wrap: wrap;
    align-content: space-between;
    margin-bottom: 100px;
}

.containerParagraph {
    display: inherit;
    width: 100%;
    scroll-snap-align: start;
    padding-top: 50px;
    padding-bottom: 150px;
    margin-bottom: 100px;
}

.paragraph {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    /*justify-content: center;*/
    /*scroll-snap-align: start;*/
    width: 60%;
    min-height: calc(100vh - 100px);
    padding: 20px 40px;
    background-color: #fff;
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}


.paragraph.even {
    justify-self: left;
    /*justify-content: right;*/
    /*color: black;*/
    background-color: #7ab887;
}


.paragraph.odd {
    /*color: black;*/
    background-color: #7ab887;
    justify-self: right;
    /*justify-content: left;*/
}


/*     Content of each paragraph       */
.paragraph.odd p, .paragraph.even p {
    text-align: justify;
    padding: 5px 0;
}

.paragraph.even h1, .paragraph.odd h1 {
    top: 20px;
    padding: 10px;
    margin-bottom: 10px;
    z-index: 1;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
