.paragraphwelcome {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    white-space: pre-line;
    /*scroll-snap-align: start;*/
    max-width: 100%;
    overflow: hidden;
    min-height: calc(100vh - 100px);
    padding: 20px 40px;
    background: #27ae60;
    border-radius: 8px;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;
}
@keyframes scroll {
    0%{
        transform:translateX(0);
    }
    50%{
        transform: translateX(calc(-220px * 16))
    }
    100%{
        transform: translateX(0);
    }
}
.paragraphwelcome .slider {
    height:150px;
    margin: auto ;
    overflow: hidden;
    position: absolute;
    bottom: 5%;
    width: 100%;
}

.paragraphwelcome .slider .slideTrack {
    animation: scroll 150s linear infinite;
    display: flex;
    width: calc(290px * 16);
}

.paragraphwelcome .slider .slide {
    height: 150px;
    width: 150px;
    margin: 0 70px;
}

