
.project-card {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 5px;
    border: 0;
    padding: 20px;
    border-radius: 10px;
    background: #b8877a;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

.project-card a {
    text-decoration: none;
    color: inherit;
}

.project-card img.project-img {
    width: 90%;
    border-radius: 8px;
    margin-top: 15px;
    margin-left: auto;
}

.project-card p.project-description {
    margin-top: 10px;
    font-size: 16px;
    text-align: justify;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    flex-basis: 100%;
}

.project-card h3.project-title {
    font-size: 24px;
    margin-bottom: 10px;
}

.project-card p.project-development {
    font-size: 16px;
    margin-bottom: 15px;
}

.project-card div.project-buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
}

.project-card div.project-buttons a {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #7ab887;
    /*color: white;*/
}

.expand-button {
    position: absolute;
    top: 30px;
    right: 15px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #7ab887;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    transition: transform 0.3s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

.expand-button:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.expand-button:not([data-expanded="true"]):before {
    border-top: 8px solid white;
}

.expand-button[data-expanded="true"]:before {
    border-bottom: 8px solid white;
}

.project-content {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 20px;
}

.project-img-container {
    flex: 0 0 45%;
}

.project-buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-self: center;
}

.project-description {

}

.project-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.tag {
    background-color: #e0e0e0;
    border-radius: 3px;
    padding: 2px 5px;
    font-size: 0.7rem;
    color: #555;
}