.gridHome {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    width: 90%;
}

.categorySection {
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 5px;
    width:100%;
    background: #ff7985;
    box-shadow: rgba(0, 0, 0, 0.25) 0 54px 55px, rgba(0, 0, 0, 0.12) 0 -12px 30px, rgba(0, 0, 0, 0.12) 0 4px 6px, rgba(0, 0, 0, 0.17) 0 12px 13px, rgba(0, 0, 0, 0.09) 0 -3px 5px;

}

.categoryTitle {
    font-weight: bold;
    margin-bottom: 15px;
}

.progressContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 0;
}

.myProgress {
    flex-grow: 1;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 0 10px;
    height: 20px;
    width: 30%;
}

.myBar {
    height: 100%;
    background-color: #4CAF50;
    border-radius: 5px;
    transition: width 0.5s;
}

.proficiencyLabel {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.9em;
}


.proficiencyLabel[data-proficiency="Sufficient"] {
    background-color: #f44336;
    color: #fff;
}

.proficiencyLabel[data-proficiency="Satisfactory"] {
    background-color: rgba(192,184,2,0.75);
    color: #fff;
}

.proficiencyLabel[data-proficiency="Good"] {
    background-color: rgba(25,192,0,0.75);
    color: #fff;
}

.proficiencyLabel[data-proficiency="Very Good"] {
    background-color: rgba(0,192,142,0.75);
    color: #fff;
}