.grid {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 0;
    row-gap: 50px;
    column-gap: 50px;
}
.grid > div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
    position: relative;
}




.grid > div > div {
    display: flex;
    justify-content: center;
    padding-bottom: 5px;
    flex-direction: row;
    border-bottom: solid 1px;
}

.gridImg {
    width: 15px;
    height: 15px;
position: absolute;
    left: 5px;
}